*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 1170px;
	margin: 0px auto;
}
.banner{
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
}
.content{
	padding: 150px 0px; 
    color: #fff;
    text-align: center;
}
.services{
    /* margin-top: 60px; */
    padding: 60px;
    padding-left: 100px;
}
.box{
	position: relative;
	text-align: center;
	width: 350px;
	padding: 72px 17px 20px;
	border:1px solid #a3a2a2;
	display: inline-block;
}
.box img {
    border: 2px solid #a3a2a2;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: 3px;
    position: absolute;
    top: -51px;
    left: 38%;
}

.navdiv{
    float: right; 
    display: inline-block;
}
li{
    margin-top: 30px;
    display: inline-block;
    padding: 20px;
}
.headers{
         border-bottom: 2px solid white;
         width: 100%;
         margin: 20px;
}
.table{
    border: 1px solid white;
    height: 10px;
    padding: 10px;
    margin-right: 10px;
}
li a{
     color: white;
     text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;
}
.welcome{
    padding: 10px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-shadow: 20px black;
}
.BEST{
         font-size: 50px;
         padding: 30px;
         font: bold;
         text-shadow: 10px black;

}
.BTN{
    padding: 20px;
}
.one{
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    margin: 20px;
    color: red;
    font-weight: bold;
}
.TWO{
    padding: 15px;
    background-color: red;
    color: white;
    border: 1px solid red;

}
.freshly{
          color: red;
          font-family: 'Dancing Script', cursive;
          font-size: 40px;
          text-shadow: 20px  black;

}
.menuhead{
           font-size: 30px;
}
.DIVS{
       padding: 30px;
       margin: 50px;
}
.sajid{
      border: 1px solid black;
      text-align: center;
}
.card{
        /* border: 2px solid lightgrey; */
        width: 350px;
        float: left;
        margin: 10px;
}
.card-content{
                text-align: center;
                /* background-image: ; */
                position: relative;
                background-image: url("./cardbg.jpg");
                margin-top: 0px;
                padding: 40px;
                color: white;

                

}
.fonty{
    font-family: 'Dancing Script', cursive;

}
.images{
        width: 350px;
        height: 300px;
}
.dollor{
    background-color: red;
    padding: 10px;
    /* width: 50px; */
    /* padding-left: 150px; */
    position: absolute;
    top: -19px;
    left: 43%;
    text-align: center;
}

.bgimage{

            background-image: url("./bgimage.jpg");
            /* padding: 200px; */
            background-repeat: no-repeat;
            background-size: cover;
            height: 500px;
}
.whiter{
    float: right;
    background: white;
    margin-right: 80px ;
    margin-top: 100px;
    padding: 80px;
    width: 400px;
    height: 140px;
    /* margin-bottom: 1800px; */
    /* margin-top: 300px; */
    text-align: center;
}
.texter{
        background-color: red;
        width: 250px;
        padding: 50px;
        color: white;
        float: left;
        margin: 20px;
        position: relative;
        /* margin-left: 40px; */
}
.dollors{
            border-radius: 100%;
            width: 50px;
            text-align: center;
}
.personality {

            /* margin-left: 60px; */
            position: absolute;
            top: -89px;
            left: 42%;

}
.names{
    color: black;
    position: absolute;
    top: -29px;
    left: 36%;
}
.greater{
       
    float: left;
    background: white;
    margin-left: 80px ;
    margin-top: 40px;
    padding: 20px;
    width: 400px;
    height: 340px;
    /* margin-bottom: 1800px; */
    /* margin-top: 300px; */
    text-align: center;

}
input{
        height: 30px;
        width: 180px;
}
.feed{
     background:red;
     color: white;
     width: 380px;
     padding: 10px;
     border: 1px solid white;
}
.spacing{
                padding: 15px;
}
.second-one{
    margin: 30px;
    background-color: red;
    width: 250px;
    padding: 50px;
    color: white;
    float: left;
    margin: 20px;
    position: relative;
}

.foot1{
            background-color: red;
            padding: 50px;
            width: 100%;
}
.footer{
            color: white;
            /* background: #000; */
            width: 300px;
            padding: 20px;
            text-align: center;
            display: inline-block;
            margin: 20px;
}
.footer-heading{

    font-family: 'Dancing Script', cursive;
    font-size:50px ;

}
.subs{
                height: 35px;
                width: 115px;
                margin-left:0px ;
                background: red;
                border: 1px solid white;
                color: white;
}
.placeholder{
                color: white;
}
#ideas{
    background: red;
    border: 1px solid white;
    padding: 0px;
    margin: 0px;
    width: 175px;
    height: 33px;
    text-align: center;
    
}
.head-icon{
           margin-left: 1050px;
           /* margin-bottom: 150px; */
           margin-top: 20px;
           /* margin: auto; */
}
.BOOK{
            background-image: url("./banner.jpg");
            padding: 10px;
            color: white;
            border: 1px solid white;
}
.black{
    padding: 20px;
    background: #000;
    color: white;
    text-align: center;
}
